.compare {
  position: relative;
  width: 280px;
  display: flex;
  justify-self: center;
  align-items: center;
}

.compare__img-wrapper {
  z-index: 1;
  width: 50%;
  overflow: hidden;
  background-color: var(--color-grey-spec);
}

.compare__img {
  max-width: 280px;

  &--slim {
    position: absolute;
  }
}

.compare__button {
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 40px;
  aspect-ratio: 1;
  padding: 0;
  border-radius: 50%;
  border: 2px solid var(--color-grey-2);
  background-color: var(--color-light);
  cursor: pointer;

  &:hover {
    border-color: var(--color-accent);
  }

  &:active {
    border-color: var(--color-accent-alt);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    width: 4px;
    border-radius: 2px;
    background-color: var(--color-grey-2);
  }

  &::before {
    top: -111px;
    bottom: 36px;
  }

  &::after {
    top: 36px;
    bottom: -111px;
  }

  &:hover::before,
  &:hover::after {
    background-color: var(--color-accent);
  }

  &:active::before,
  &:active::after {
    background-color: var(--color-accent-alt);
  }

  &:hover .compare__button-img {
    fill: var(--color-accent);
  }

  &:active .compare__button-img {
    fill: var(--color-accent-alt);
  }
}

.compare__button-img {
  vertical-align: middle;
  fill: var(--color-grey-2);
}

@media (min-width: $tablet-width) {
  .compare {
    width: 560px;
  }

  .compare__img-wrapper {
    background-color: transparent;
    box-shadow: inset 0 154px 0 var(--color-light);

    @media (min-width: $desktop-width) {
      box-shadow: inset 0 128px 0 var(--color-light);
    }
  }

  .compare__img {
    max-width: 560px;
  }

  .compare__button {
    &::before {
      top: -239px;
      bottom: 36px;
    }

    &::after {
      top: 36px;
      bottom: -239px;
    }
  }
}
