.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--color-grey-light);
}

.footer__logo,
.footer__developer-link {
  --border: 1px solid var(--color-grey-spec-2);
}

.footer__logo {
  padding-bottom: 20px;
  border-bottom: var(--border);
}

.footer__socials {
  margin: 0 auto;
  padding: 20px 0;
}

.footer__developer-link {
  padding-top: 20px;
  border-top: var(--border);
}

@media (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .footer__logo,
  .footer__developer-link,
  .footer__socials {
    padding: 0;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}
