.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--color-grey-light);
}

.footer__logo {
  margin-bottom: 20px;
  display: inline-block;
}

.footer__socials {
  --border: 1px solid var(--color-grey-spec-2);
  margin-top: 0;
  margin-bottom: 20px;
  border-top: var(--border);
  border-bottom: var(--border);
}
