.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--color-grey-light);
}

.footer__container-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__logo,
.footer__developer-link {
  --border: 1px solid var(--color-grey-spec-2);
}

.footer__logo {
  padding-bottom: 20px;
  border-bottom: var(--border);
}

.footer__socials {
  margin: 0 auto;
  padding: 20px 0;
}

.footer__developer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  gap: 24px;
  border-top: var(--border);

  &:hover::after,
  &:focus::after,
  &:active::after {
    background-color: var(--color-accent);
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__developer-link::after {
  content: "";
  display: block;
  width: 27px;
  height: 34px;
  background-color: var(--color-grey-2);
  mask-image: url("../img/sprite.svg#logo-developer");
}

@media (min-width: $tablet-width) {
  .footer {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .footer__container-inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo,
  .footer__developer-link,
  .footer__socials {
    padding: 0;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}
