.form-section {
  padding-top: 27px;
  padding-bottom: 32px;
}

.form-section__header {
  margin-bottom: 39px;
}

.form-section__title {
  margin-top: 0;
  margin-bottom: 37px;
  font-family: var(--font-famili-oswald);
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: var(--color-dark);
}

.form-section__text {
  margin: 0;
  font-family: var(--font-famili-oswald);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  color: var(--color-dark);
}
