.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 14px;

  &--inner {
    border-bottom: 1px solid var(--color-grey-spec-2);
  }
}
