.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 14px;
  gap: 20px;

  &--nojs {
    @media (max-width: $mobile-width-only) {
      display: block;
    }
  }

  &--inner {
    border-bottom: 1px solid var(--color-grey-spec-2);
  }

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}
