.location--inner {
  background-color: var(--color-grey-light);
}

.location__container {
  position: relative;
}

.location__container-inner {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;

  &--dark {
    background-color: var(--color-grey-light);
  }
}

.location__text {
  max-width: 140px;
  margin: 0;
  font-family: var(--font-family-second);
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--color-grey-darkest);
}

.location__address {
  max-width: 140px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.43;
  color: var(--color-grey);
}

.location__map {
  display: block;
  margin: 0 auto;
  border: none;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .location__container-inner {
    padding: 60px 40px;
  }

  .location__text {
    font-size: 20px;
    line-height: 1.3;
  }

  .location__address {
    font-size: 14px;
    line-height: 1.43;
    text-align: right;
  }

  .location__map {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .location__container-inner {
    position: absolute;
    top: 95px;
    width: 565px;
    padding: 60px 80px;
    background-color: var(--color-light);
  }

  .location__address {
    text-align: left;
  }
}
