.nav {
  &--closed .nav__toggle {
    &::before {
      content: "";
      display: block;
      width: 24px;
      aspect-ratio: 1;
      background: url("../img/sprite.svg#burger") center no-repeat;
    }
  }

  &--opened .nav__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 9px;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: var(--color-dark);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &--opened .nav__list {
      display: block;
    }
  }
}

.nav__toggle {
  position: relative;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav__list {
  z-index: 1;
  position: absolute;
  top: 65px;
  right: 0;
  left: 0;
  max-width: 600px;
  text-align: center;
  margin: 0;
  padding: 0;
  display: none;
  background-color: var(--color-light);
  list-style-type: none;
}

.nav--opened .nav__list {
  display: block;
}

.nav--nojs .nav__toggle {
  display: none;
}

.nav--nojs .nav__list {
  @media (max-width: $mobile-width-only) {
    position: static;
    display: block;
    width: 100%;
  }
}

.nav__item {
  --border: 1px solid #e6e6e6;
  border-bottom: var(--border);

  &:first-child {
    border-top: var(--border);
  }
}

.nav__link {
  --indent: 10px;
  position: relative;
  display: inline-flex;
  align-items: center;
  min-height: 66px;
  padding: 20px var(--indent);
  font-family: var(--font-family-second);
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-dark);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:not([href]) {
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .nav__list {
    position: static;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px;
    background-color: transparent;
  }

  .nav__item,
  .nav__item:first-child {
    border: none;
  }

  .nav__link {
    font-size: 18px;
    line-height: 1.33;

    &:not([href]) {
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 12px;
        transform: translateX(-50%);
        width: calc(100% - 2 * var(--indent));
        height: 2px;
        background-color: var(--color-accent);
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .nav__link {
    font-size: 20px;

    &--main {
      color: var(--color-light);

      &:not([href])::after {
        background-color: var(--color-light);
      }
    }
  }
}
