.nav__toggle {
  position: relative;
}

.nav__list {
  z-index: 1;
  position: absolute;
  top: 65px;
  right: 0;
  left: 0;
  text-align: center;
  display: none;
  margin: 0;
  padding: 0;
  background-color: var(--color-light);
  list-style-type: none;
}

.nav__item {
  --border: 1px solid #e6e6e6;
  border-bottom: var(--border);

  &:first-child {
    border-top: var(--border);
  }
}

.nav__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  min-height: 66px;
  font-family: var(--font-family-second);
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-dark);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:not([href]) {
    opacity: 1;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: 8px;
      height: 2px;
      background-color: var(--color-accent);
    }
  }
}

@media (min-width: $tablet-width) {
  .nav__list {
    position: static;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 33px;
    background-color: transparent;
  }

  .nav__item,
  .nav__item:first-child {
    border: none;
  }

  .nav__link {
    font-size: 18px;
    line-height: 1.33;
  }
}

@media (min-width: $desktop-width) {
  .nav__link--main {
    font-size: 20px;
    color: var(--color-light);

    &:not([href])::after {
      background-color: var(--color-light);
    }
  }
}
