.nav-toggle {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.nav-toggle::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  right: 0;
  background: url("../../img/icons/burger.svg") center no-repeat;
}
