.nav-toggle {
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 24px;
    aspect-ratio: 1;
    background: url("../img/icons/burger.svg") center no-repeat;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
