.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  background-color: var(--color-light);
  font-family: var(--font-family-first);
}
