.programs__container-inner {
  position: relative;
  display: grid;
  align-content: start;
  margin-bottom: 20px;
  padding-top: 27px;

  &::before,
  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: calc(0px - var(--container-padding-x));
    width: 320px;
    height: 302px;
  }

  &::before {
    background: url("../img/index-background-cat-mob.jpg") center/contain no-repeat;
  }

  &::after {
    background-color: var(--color-accent-opacity);
  }
}

.programs__title {
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: var(--color-light);
}

.programs__text {
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 29px;
  font-family: var(--font-family-second);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-light);
}

.programs__img {
  object-fit: contain;
  margin-bottom: 3px;
}

.programs__list {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .programs__container-inner {
    margin-bottom: 0;
    padding-top: 65px;

    &::before,
    &::after {
      display: none;
    }
  }

  .programs__title,
  .programs__text {
    margin-left: 90px;
    color: var(--color-dark);
    text-align: left;
  }

  .programs__title {
    margin-bottom: 40px;
    font-size: 60px;
  }

  .programs__text {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .programs__img {
    grid-area: 3/1/4/2;
    width: 708px;
    height: 609px;
    margin-bottom: 0;
  }

  .programs__link {
    grid-area: 3/1/4/2;
    min-width: 244px;
    max-width: 414px;
    min-height: 54px;
    margin: 30px auto auto 90px;
  }
}

@media (min-width: $desktop-width) {
  .programs__container-inner {
    min-height: 573px;
    margin-bottom: 82px;
    padding-top: 110px;

    &::before,
    &::after {
      display: block;
      top: -121px;
      width: 720px;
      height: 694px;
    }

    &::before {
      background-image: url("../img/index-background-cat-desktop.jpg");
    }
  }

  .programs__title {
    margin-bottom: 40px;
    margin-left: 80px;
  }

  .programs__text {
    margin-bottom: 52px;
    margin-left: 80px;
  }

  .programs__img {
    position: absolute;
    bottom: -126px;
    left: 447px;
    width: 552px;
    height: 499px;
  }

  .programs__link {
    margin-top: 0;
    margin-left: 80px;
  }
}
