.products {
  padding-top: 27px;
}

.products__list {
  margin: 0;
}

.products__title {
  margin-top: 0;
  margin-bottom: 41px;
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: var(--color-dark);
}
