.products {
  padding-top: 27px;
}

.products__list {
  margin: 0;
}

.products__title {
  margin-top: 0;
  margin-bottom: 41px;
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: var(--color-dark);
}

@media (min-width: $tablet-width) {
  .products {
    padding-top: 65px;
  }

  .products__title {
    margin-bottom: 84px;
    font-size: 60px;
  }
}

@media (min-width: $desktop-width) {
  .products {
    padding-top: 74px;
  }
}
