.programs__container-inner {
  position: relative;
  display: grid;
  align-content: start;
  margin-bottom: 20px;
  padding-top: 27px;
}

.programs__title {
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  font-family: var(--font-title);
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: var(--color-light);
}

.programs__text {
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 29px;
  font-family: var(--font-family-second);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-light);
}

.programs__list {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .programs__container-inner {
    margin-bottom: 0;
    padding-top: 65px;
  }

  .programs__title,
  .programs__text {
    margin-left: 90px;
    color: var(--color-dark);
    text-align: left;
  }

  .programs__title {
    margin-bottom: 40px;
    font-size: 60px;
  }

  .programs__text {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .programs__img {
    grid-area: 3/1/4/2;
    width: 708px;
    height: 609px;
    margin-bottom: 0;
  }

  .programs__link {
    grid-area: 3/1/4/2;
    max-width: 244px;
    min-height: 54px;
    margin: 30px auto auto 90px;
  }
}

@media (min-width: $desktop-width) {
  .programs__container-inner {
    min-height: 573px;
    margin-bottom: 82px;
    padding-top: 110px;
  }

  .programs__title {
    margin-bottom: 40px;
    margin-left: 80px;
  }

  .programs__text {
    margin-bottom: 52px;
    margin-left: 80px;
  }

  .programs__img {
    grid-area: 1/1/-1/2;
    position: absolute;
    top: -81px;
    left: 446px;
    width: 552px;
    height: 499px;
  }

  .programs__link {
    margin-top: 0;
    margin-left: 80px;
  }
}
