.socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
}

.socials__link {
  &::after {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    background-color: var(--color-grey-2);
    mask-image: var(--image);
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    background-color: var(--color-accent);
  }

  &:active::after {
    opacity: 0.3;
  }

  &--vk::after {
    --image: url("../img/icons/vkontakte.svg");
  }

  &--ytb::after {
    --image: url("../img/icons/youtube.svg");
  }

  &--tg::after {
    --image: url("../img/icons/telegram.svg");
  }
}
