.socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
}

.socials__link {
  display: block;
  width: 28px;
  height: 22px;
  background-color: var(--color-grey-2);
  mask-image: var(--image);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--color-accent);
  }

  &:active {
    opacity: 0.3;
  }

  &--vk {
    --image: url("../img/icons/vkontakte.svg");
  }

  &--ytb {
    --image: url("../img/icons/youtube.svg");
  }

  &--tg {
    --image: url("../img/icons/telegram.svg");
  }
}
