.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: var(--container-width);
  margin: 0 auto;
  padding-inline: var(--container-padding-x);

  @media (min-width: $tablet-width) {
    --container-width: 768px;
    --container-padding-x: 30px;
  }

  @media (min-width: $desktop-width) {
    --container-width: 1440px;
    --container-padding-x: 110px;
  }
}
