:root {
  --color-light: #ffffff;
  --color-grey-light: #f2f2f2;
  --color-grey-spec: #eaeaea;
  --color-grey-spec-2: #d9d9d9;
  --color-grey-spec-3: #ebebeb;
  --color-grey-spec-4: #cdcdcd;
  --color-grey: #444444;
  --color-grey-2: #666666;
  --color-grey-dark: #222222;
  --color-grey-darkest: #111111;
  --color-dark: #000000;
  --color-accent-opacity: rgb(104, 183, 56, 0.85);
  --color-accent: #68b738;
  --color-accent-alt: #5eaa2f;
  --color-error: #ff8282;

  --container-width: 320px;
  --container-padding-x: 20px;

  --font-family-first: "lato", "Arial", sans-serif;
  --font-family-second: "oswald", "Arial", sans-serif;

  --font-title: var(--font-family-second);
}

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
